* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  width: 1200px;
  margin: auto;
}

.post {
  display: flex;
  padding: 15px;
  border: 2px solid red;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.post-enter {
  transform: translateX(-350px);
}

.post-enter-active {
  transform: translateX(0px);
  transition: all 500ms ease-in;
}

.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(-350px);
  transition: all 500ms ease-in;
}

.pagination_wrapper {
  margin-top: 30px;
  display: flex;
}

.pagination_button {
  padding: 30px;
  border: 1px solid rebeccapurple;
  cursor: pointer;
}

.pagination_current_page {
  border: 2px solid turquoise;
  font-weight: bold;
}

.about {
  display: flex;
  justify-content: center;
}

header {
  background-color: blueviolet;
  width: 1200px;
  height: 150px;
  display: flex;
  justify-content: space-between;
}